AGENDAMIENTO_AUDIENCIAS_API_KEY=
AGENDAMIENTO_AUDIENCIAS_FECHA_API_URL=
AGENDAMIENTO_AUDIENCIAS_PANTALLA_API_URL=
AGENDAMIENTO_AUDIENCIAS_VOCEADOR_API_URL=
AGENDAMIENTO_AUDIENCIAS_TIMEOUT=
TZ=America/Mexico_City
VOCEADOR_URL=http://127.0.0.1:8000
VOCEADOR_VOZ=1
VOCEADOR_VOZ_VELOCIDAD=1.0
