AGENDAMIENTO_AUDIENCIAS_FECHA_API_URL=https://servidor.gob.mx/api/v1
AGENDAMIENTO_AUDIENCIAS_PANTALLA_API_URL=https://servidor.gob.mx/api/v1
AGENDAMIENTO_AUDIENCIAS_API_KEY=
TZ=America/Mexico_City
VOCEADOR_URL=http://127.0.0.1:8000
VOCEADOR_VOZ=1
VOCEADOR_VOZ_VELOCIDAD=1.0
